<div class="dish-tiles-container">
     <div class="dish-tiles-header-container">
          <p>{{data.dishTilesComponent.paragraph}}</p>
          <h1>{{data.dishTilesComponent.header}}</h1>
     </div>
     <ul class="dish-tiles">
          {{#each data.dishTiles}}
               <li class="dish-tile">{{this.name}}</li>
          {{/each}}
     </ul>
</div>