<div class="dish-tiles-container">
     <p>{{data.dishTiles.paragraph}}</p>
     <h1>{{data.dishTiles.header}}</h1>
     <ul class="dish-tiles">
          {{#each data.dishTiles}}
               <li>{{this}}</li>
          {{/each}}
     </ul>
</div>