<div class='subscribe-container'>
    <h1>{{data.subscribe.header}}</h1>
    <p>{{data.subscribe.paragraph}}</p>
    <form action="#" method="POST">
        <input type="email" required="true" placeholder="Enter your email address">
        <button type="submit">subscribe</button>
    </form>
</div>