<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/navbar/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/heroBanner/heroBanner.css' />
    <link rel='stylesheet' href='/stylesheets/dishTiles/dishTiles.css' />
    <link rel='stylesheet' href='/stylesheets/orderForm/orderForm.css' />
    <link rel='stylesheet' href='/stylesheets/subscribe/subscribe.css' />
    <link rel='stylesheet' href='/stylesheets/footer/footer.css' />
    <script src="https://kit.fontawesome.com/7fa7a54153.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{> navbar}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
