.dish-tiles-container{
    background: white;
    width: 100%;
    height: auto;
    padding: 50px 0px 100px 0px;
    float: left;
}

.dish-tiles-header-container{
    /* background: red; */
    width: 100%;
    height: auto;
    margin: 50px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish-tiles-header-container p{
    padding: 0px;
    margin: 0px;
    color: var(--red);
    font-size: 18px;
    font-weight: 300;
    font-family: 'Miniver', cursive;
}

.dish-tiles-header-container h1{
    padding: 0px;
    margin: 0px;
    color: var(--blue);
    font-size: 55px;
    font-family: 'Kaushan Script', cursive;
}

.dish-tiles{
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-tile{
    width: 370px;
    height: 630px;
    margin: 0px 15px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0px 3px 10px 0px rgba(168,168,168,1);   
    -webkit-box-shadow: 0px 3px 10px 0px rgba(168,168,168,1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(168,168,168,1);
}

.test{
    background: red;
    width: 50px;
    height: 10px
}

.dish-tile-image-container{
    background: green;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-image-container{
    background: red;
    width: 250px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-image-container img{
    width: 250px;
    height: auto;
}